<!DOCTYPE html>
<html lang="en">   
    <%- include("./partials/head")%>
<body>
    <%- include("./partials/header")%>
    <main class="home-page">
        <h1>¡NOVEDADES!</h1>
        <section class="banner">
            <img class="banner-img" src="images/banner-1.jpg" alt="product">
            <div class="banner">
                    <button class="arrow-left"><i class="fas fa-chevron-left"></i></button>
                    <button class="arrow-right"><i class="fas fa-chevron-right"></i></button>
                    <button class="dots"><i class="fas fa-ellipsis-h"></i></button>
            </div>
        </section>
        <section class="our-products">
           <h2 class="products">Nuestros productos</h2>
           <% for(let i=0;i<4;i++) {%>
            <article class="product">
                <div class="image">
                    <a href="/products/<%=products[i].id%>">
                    <img src="../images/Products/<%=products[i].image%>" alt="product">
                    <i class="fas fa-percent"></i>
                    </a>
                </div>
                <div class="description">
                    <p class="product-name"><%=products[i].name%></p>
                    <div class="brand">
                        <p><%=products[i].description%></p>
                    </div>
                    <div class="price">
                        <p>$<%=products[i].price%></p>
                        <p> $<%= products[i].price/2 %></p>
                </div>
                </div> 
                <div class="buy-button">
                    <a href="/cart"><button type="submit" class="buy">Comprar</button></a>
                    <button type="submit" class="cart"><a href="/cart"><i class="fas fa-shopping-cart"></i></a></button>
                </div>
            </article> 
            <%}%>     
                    
        </section>
    </section>
    <section class="our-products">
       <h2 class="products">¡Ofertas!</h2>
       <% for(let i=4;i<8;i++) {%>
        <article class="product">
            <div class="image">
                <a href="/products/<%=products[i].id%>">
                <img src="../images/Products/<%=products[i].image%>" alt="product">
                <i class="fas fa-percent"></i>
                </a>
            </div>
            <div class="description">
                <p class="product-name"><%=products[i].name%></p>
                <div class="brand">
                    <p><%=products[i].description%></p>
                </div>
                <div class="price">
                    <p>$<%=products[i].price%></p>
                    <p> $<%= products[i].price/2 %></p>
            </div>
            </div> 
            <div class="buy-button">
                <a href="/cart"><button type="submit" class="buy">Comprar</button></a>
                <button type="submit" class="cart"><a href="/cart"><i class="fas fa-shopping-cart"></i></a></button>
            </div>
        </article> 
        <%}%>     
    </section>
    </main>
    <%- include("./partials/footer")%>
</body>
</html>