<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head")%> 
<body>
    <%- include("./partials/header")%>
    <main class="productForm-page">
        <form action="/products" enctype="multipart/form-data" method="post" class="product-create">
            <div class="information">
                <label for="name">Nombre del producto</label>
                <input type="name" name="name" id="name"
                class="<%= locals.errors && errors.name? "is-invalid": null %> <%= locals.oldData && oldData.name? "is-valid": null %>"  
                value="<%= locals.oldData ? oldData.name: null %>"
                > 
                <% if (locals.errors && errors.name) { %>                
                    <div class="text-danger">
                    <%= errors.name.msg %> 
                    </div>
                <% } %>
            </div>
            <div class="description">
                <label for="description">Descripción</label>
                <input type="text" name="description" id="description"
                class="<%= locals.errors && errors.description? "is-invalid": null %> <%= locals.oldData && oldData.description? "is-valid": null %>"
                value="<%= locals.oldData ? oldData.description: null %>">
                <% if (locals.errors && errors.description) { %>                
                    <div class="text-danger">
                    <%= errors.description.msg %> 
                    </div>
                <% } %>
            </div>
            <div class="image">
                <label for="image">Imagen del Producto</label>
                <input type="file" name="image" id="image" >
                <% if (locals.errors && errors.image) { %>                
                    <div class="text-danger">
                    <%= errors.image.msg %> 
                    </div>
                <% } %>
            </div>
            <div class="especifications">
                <label for="age">Rango de edad</label>
                <select name="age" id="age" class="<%= locals.errors && errors.age? "is-invalid2": null %> <%= locals.oldData && oldData.age? "is-valid2": null %>" 
                    value="<%= locals.oldData ? oldData.age: null %>">
                    <option value="">Seleccionar</option>
                   <% for( let i = 0; i < ages.length; i++ ) { %>
                    <option value=" <%= ages[i].id_edad %>  ">
                        <%= ages[i].range %> 
                    </option>
                   <% } %>
                </select>
                <% if (locals.errors && errors.age) { %>                
                    <div class="text-danger">
                    <%= errors.age.msg %> 
                    </div>
                <% } %>
                <div class="category">
                    <label for="category">Categoría</label>
                    <select name="category" class="<%= locals.errors && errors.category? "is-invalid2": null %> <%= locals.oldData && oldData.category? "is-valid2": null %>" >
                        <option value="">Seleccionar</option>
                        <% for( let i = 0; i < categories.length; i++ ) { %>
                            <option value=" <%= categories[i].id_categoria %>  ">
                                <%= categories[i].name %> 
                            </option>
                        <% } %>
                    </select>
                </div>
                <% if (locals.errors && errors.category) { %>                
                    <div class="text-danger">
                    <%= errors.category.msg %> 
                    </div>
                <% } %>
                <div class="size">
                    <label for="size">Talle</label>
                    <select name="size">
                        <option value="">Seleccionar</option>
                        <% for( let i = 0; i < sizes.length; i++ ) { %>
                            <option value=" <%= sizes[i].id_talle %>  ">
                                <% if (sizes[i].talle==null) { %>
                                 No tiene talle
                                <% } else { %>
                                    <%= sizes[i].talle %>
                                <% } %>
                                 
                            </option>
                        <% } %>
                    </select>
                </div>
                <% if (locals.errors && errors.size) { %>                
                    <div class="text-danger">
                    <%= errors.size.msg %> 
                    </div>
                <% } %>
                <div class="detailedDescription">
                    <label for="detailedDescription">Descripcion detallada</label>
                    <textarea name="detailedDescription" id="detailedDescription" cols="37" rows="6" placeholder="Color, tamaño, etc."
                    class="<%= locals.errors && errors.name? "is-invalid": null %> <%= locals.oldData && oldData.detailedDescription? "is-valid2": null %>"
                    ><%= locals.oldData ? oldData.detailedDescription: null %></textarea>
                </div>
                <% if (locals.errors && errors.detailedDescription) { %>                
                    <div class="text-danger">
                    <%= errors.detailedDescription.msg %> 
                    </div>
                <% } %>
                <div class="price">
                    <label for="price">Precio</label>
                    <input type="number" name="price" id="price"
                    class="<%= locals.errors && errors.price? "is-invalid": null %> <%= locals.oldData && oldData.price? "is-valid": null %> "
                    value="<%= locals.oldData ?oldData.price:null %>">
                </div>
                <% if (locals.errors && errors.price) { %>                
                    <div class="text-danger">
                    <%= errors.price.msg %> 
                    </div>
                <% } %>
            </div>
            <div class="send-reset">
                <button type="submit" class="buy-now-button">Guardar producto</button>
                <button type="reset" class="buy-now-button">Reestablecer</button>
            </div>
        </form>
    </main>
</body>
</html>

