<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head")%>
<body>
    <%- include("./partials/header")%>
    <main>
       <h1>Resultados de la busqueda "<%= search %>"</h1>
    <section class="our-products">
        <% for(const product of products) { %>
        <article class="product">
            <div class="image">
                <a href="/products/<%=product.id%>">
                <img src="../images/Products/<%=product.image%>" alt="product">
                </a>
            </div>
            <div class="description">
                <p class="product-name"><%=product.name%></p>
                <div class="brand">
                    <p><%=product.description%></p>
                </div>
                <div class="price">
                    <p>$<%=product.price%></p>
            </div>
            </div> 
            <div class="buy-button">
                <a href="/products/<%=product.id_producto%>"><button type="submit" class="buy">Detalle</button></a>
            </div>
        </article> 
    <% } %>
    </section> 
    </main> 
    <%- include("./partials/footer")%> 

</body>
</html>