<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head")%>
<body>
    <%- include("./partials/header")%>
    <main class="productForm-page" >
        <section>
            <h2>Edicion de <%=product.name%></h2>
            <form action="/products/<%= product.id_producto%>?_method=PUT" method="post"class="product-create" enctype="multipart/form-data">
                <div class="information">
                    <label for="name">Nombre del producto</label>
                    <input type="name" name="name" id="name"
                    class="<%= locals.errors && errors.name? "is-invalid": null %> <%= locals.oldData && oldData.name? "is-valid": null %>"  
                    value="<%= locals.oldData && oldData.name?oldData.name:product.name%>">
                    
                    <% if (locals.errors && errors.name) { %>                
                        <div class="text-danger">
                        <%= errors.name.msg %> 
                        </div>
                    <% } %>
                </div>
                <div class="description">
                    <label for="description">Descripción</label>
                    <input type="text" name="description" id="description"
                    class="<%= locals.errors && errors.description? "is-invalid": null %> <%= locals.oldData && oldData.description? "is-valid": null %>"
                    value="<%= locals.oldData && oldData.description?oldData.description:product.description%>">
                    <% if (locals.errors && errors.description) { %>                
                        <div class="text-danger">
                        <%= errors.description.msg %> 
                        </div>
                    <% } %>
                </div>
                <div class="image">
                    <input type="file" name="image" id="image" value="<%= product.image %>">
                </div>
                <div class="especifications">
                    <label for="age">Rango de edad</label>
                    <select name="age" id="age" class="<%= locals.errors && errors.age? "is-invalid2": null %> <%= locals.oldData && oldData.age? "is-valid2": null %>" 
                        value=" <%= ages.id_edad %>">
                        <option value="">Seleccionar</option>
                        <% for( const age of ages ) { %>
                            <% if (age.id_edad == product.id_edad) { %>
                             <option value=" <%= age.id_edad %> " selected> <%= age.range %> </option> 
                            
                          <% } else { %>
                            <option value=" <%= age.id_edad %>  "> <%= age.range %> </option>
                        <% } %>
                        <% } %>
                    </select>
                    <% if (locals.errors && errors.age) { %>                
                        <div class="text-danger">
                        <%= errors.age.msg %> 
                        </div>
                    <% } %>
                    <div class="category">
                        <label for="category">Categoría</label>
                        <select name="category" class="<%= locals.errors && errors.category? "is-invalid2": null %> <%= locals.oldData && oldData.category? "is-valid2": null %>" >
                            <option value= null >Seleccionar</option>
                            <% for( const category of categories ) { %>
                                <% if (category.id_categoria == product.id_categoria) { %>
                                 <option value=" <%= category.id_categoria %>  "selected><%= category.name %></option> 
                                
                              <% } else { %>
                                <option value=" <%= category.id_categoria %> "> <%= category.name %> </option>
                            <% } %>
                            <% } %>
                        </select>
                    </div>
                    <% if (locals.errors && errors.category) { %>                
                        <div class="text-danger">
                        <%= errors.category.msg %> 
                        </div>
                    <% } %>
                    <div class="size">
                        <label for="size">Talle</label>
                        <select name="size">
                            <option value="">Seleccionar</option>
                            <% for( const size of sizes ) { %>
                                <% if (size.id_talle == product.id_talle) { %>
                                 <option value=" <%= size.id_talle %>  "selected><%= size.talle %></option> 
                              <% } else { %>
                                <option value=" <%= size.id_talle %>  "><%= size.talle %></option> 
                            <% } %>
                            <% } %>
                        </select>
                    </div>
                    <% if (locals.errors && errors.size) { %>                
                        <div class="text-danger">
                        <%= errors.size.msg %> 
                        </div>
                    <% } %>
                    <div class="detailedDescription">
                        <label for="detailedDescription">Descripcion detallada</label>
                        <textarea name="detailedDescription" id="detailedDescription" cols="37" rows="6" placeholder="Color, tamaño, etc."
                        class="<%= locals.errors && errors.name? "is-invalid": null %> <%= locals.oldData && oldData.detailedDescription? "is-valid2": null %>"
                        ><%= locals.oldData && oldData.detailedDescription?oldData.detailedDescription:product.detailedDescription%></textarea> 
                    </div>
                    <% if (locals.errors && errors.detailedDescription) { %>                
                        <div class="text-danger">
                        <%= errors.detailedDescription.msg %> 
                        </div>
                    <% } %>
                    <div class="price">
                        <label for="price">Precio</label>
                        <input type="number" name="price" id="price"
                        class="<%= locals.errors && errors.price? "is-invalid": null %> <%= locals.oldData && oldData.price? "is-valid": null %> "
                        value="<%= locals.oldData && oldData.price?oldData.price:product.price%>"> 
                    </div>
                    <% if (locals.errors && errors.price) { %>                
                        <div class="text-danger">
                        <%= errors.price.msg %> 
                        </div>
                    <% } %>
                </div>
                    <div class="send-reset">
                        <button type="submit" class="buy-now-button">Editar Producto</button>
                        <button type="reset" class="buy-now-button">Reestablecer</button>
                    </div>
                </div>
            </form>
        </section>
        <section>
            <h2>Eliminacion de Producto</h2>
            <form action="/products/<%=product.id_producto%>?_method=DELETE" method="post" class="product-create">
                <div class="send-reset">
                    <button class="buy-now-button" type="submit">Borrar Producto</button>                
                </div>
            </form>
        </section>
    </main>
</body>
</html>