<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head")%>
<body>
    <%- include("./partials/header")%>
    <main>
        <h1>Hola <%= user.first_name%> <%=  user.last_name  %>  </h1>
        <div class="profile-image">
            <img src="../images/Users/<%=  user.image %>" alt="">
        </div>
        <a href="/users/edit/<%= user.id_usuario %> "><button >Editar mi Usuario</button></a>
        
    </main>
    <%- include("./partials/footer")%>
</body>
</html>